# bike-stats
# Data set: bikes data set
# Author : Raneem ,,,,,,
# Date : 25/5/2021

In [1]:
import pandas as pd
import datetime as datetime

In [2]:
df_trip=pd.read_csv('./trip.csv',error_bad_lines=False)
df_trip.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

# What is the average trip duration for a borrowed bicycle?

In [3]:
avg_trip=df_trip["tripduration"].mean()
avg_trip

1178.2956753399776

# What’s the most common age of a bicycle-sharer?

In [4]:
common_age=df_trip["birthyear"].mode()
datetime.datetime.now().year-common_age

0    34.0
dtype: float64

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:
weather_data=pd.read_csv('./weather.csv',parse_dates=["Date"])
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    datetime64[ns]
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(13), object(2)
memory usage: 113.2+ KB

In [6]:
# from datetime import datetime
date=weather_data["Date"]
weather_data['month'] = pd.DatetimeIndex(date).month
weather_data['month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: month, Length: 689, dtype: int64

In [7]:
# find the average precipitation per month
weather=weather_data.groupby('month')['Precipitation_In']
weather_avg=weather.mean()
weather_avg 0.143548

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

# the median precipitation.
weather.median()

In [16]:
# What’s the average number of bikes at a given bike station?
df_station=pd.read_csv('./station.csv')
median_pr=df_station["install_dockcount"].mean()
median_pr

17.586206896551722

In [9]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [10]:
# df=pd.read_csv('./station.csv')
# df["install_dockcount"].mean()
x=df_station[["modification_date","install_dockcount"]].dropna()
y=x["install_dockcount"].sum()- df_station["install_dockcount"].sum()
y
# it gonna lose bikes , they deminish into 4 only

-722

# Come up with 3 more questions that can be answered with this data set.

# calculate the avarage duration for taking a bike based on gender

In [11]:
# df=pd.read_csv('./trip.csv',error_bad_lines=False)

df_trip1=df_trip[["tripduration","gender"]].dropna()
df_trip1.groupby("gender")['tripduration'].mean()

gender
Female    706.723239
Male      564.880833
Other     613.347563
Name: tripduration, dtype: float64

# Maximuim temptreture in every year

In [12]:
# weather_data=pd.read_csv('./weather.csv',parse_dates=["Date"])
weather_data['Year'] = pd.DatetimeIndex(date).year
weather_data.groupby("Year")["Max_Temperature_F"].max()
Max_temp=weather_data.groupby("Year")["Max_Temperature_F"].max()
Max_temp

Year
2014    73
2015    98
2016    95
Name: Max_Temperature_F, dtype: int64

# Highest trip duration based on birthday year and gender

In [15]:
# df=pd.read_csv('./trip.csv',error_bad_lines=False)
# df
df_trip2=df_trip[["tripduration","birthyear","gender"]].dropna()
highest_d=df_trip2.groupby(["birthyear","gender"])['tripduration'].max()
highest_d

birthyear  gender
1931.0     Female    1817.524
1936.0     Male      1530.681
1939.0     Male      6482.742
1942.0     Male       622.731
1943.0     Male      1686.795
                       ...
1997.0     Male      4170.919
1998.0     Female    2251.862
           Male      4745.422
1999.0     Female    1537.079
           Other      655.493
Name: tripduration, Length: 135, dtype: float64

In [17]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip, 1178.2956753399776)
    assert_equal(y, -722)
    assert_equal(median_pr, 17.586206896551722)
    assert_equal(top_twenty_highest_grossing_games.at[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

Success!!!